body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EBEBEB;
  
}

.fw-bold{
  font-weight: bold;
}

.fp-border{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: space-between; */
  text-align: center;
  margin: auto auto auto auto;
  background-color: #EBEBEB;
  width: 100vw;
  height:calc(100px + 100vh);
}

.fp-menuitem{
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 200%;
  grid-template-columns: 20% 20%;
  justify-content: center;
  grid-gap: 10px;
  font-size: 100%;
}

.f-logo {
  margin: 10px auto 5px auto;
  width: 30%;
}

.fp-timeattendance{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF;
  width: 93%;
  height: 93%;
  padding: 1% 2% 1% 2%;
  margin: 1% 1% 1% 1%;
  color: #000;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: bold;
}

.fp-Login{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF;
  width: 93%;
  height: 93%;
  padding: 1% 2% 1% 2%;
  margin: 1% 1% 1% 1%;
  color: #000;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: bold;
}

.fp-e-maillogin{
  padding-top: 5px;
  font-weight:normal;
}

.time{
  font-size: 100%;
  position: absolute;
  margin-top: 0%;
  margin-right: 0%;
  top: 0;
  right: 0;
}

.fp-timeattend-out{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 60% 10% 60%;
  justify-content: center;
  grid-gap: 5%;
  color: #000;
  font-style: normal;
  font-weight: normal;
}

.fp-time-cl{
  padding: 1% 8% 1% 8%;
  color: #F5F5F5;
  border-radius: 10px;
  background-color: #0078D4;
}

.fp-time-no-cl{
  padding: 1% 8% 1% 8%;
  color: #000;
  border-radius: 10px;
  background: #F5F5F5;
}

.login-border{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto auto auto;
  background-color: #EBEBEB;
  width: 100vw;
  height: 80vh;
}

.login-block{
  padding: 3% 3% 3% 3%;
  width: 25%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.lg-logo{
  width: 100%;
  
}

.lg-logo-line{
  display: grid;
  grid-template-columns: 20% 40%;
  grid-template-rows: 100%;
  grid-gap: 40%;
}

.loginitem{
  display: grid;
  grid-template-columns: 99%;
  grid-template-rows: 45%;
  grid-gap: 20%;
  background: rgba(255, 255, 255, 1);
  border-radius: 2px;
  margin: 2% 0% 4% 0%; 
}

.ip-box{
  width: 100%;
  outline: 0;
  border-width: 0 0 1px;
  border-color: black;
}

.ip-box:focus{
  border-color: #0078D4;
}

.submit-btn{
  font-family: Segoe UI;
  border: none;
  flex: none;
  order: 0;
  flex-grow: 0;
  float: right;
  color:#FFFFFF;
  background: rgba(0, 120, 212, 1);
}

.tad-block{
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 500px;
  grid-template-columns: 500px 500px;
  justify-content: center;
  grid-gap: 10px;
  font-size: 100%;
}

.tad-item{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  background-color: #FFFFFF;
  width: 390px;
  height: 390px;
  padding: 10% 10% 10% 10%;
  margin: 1% 1% 1% 1%;
  color: #000;
  font-style: normal;
  font-weight: bold;
}

.navbar-block{
  padding-left: 2%;
  margin-bottom: 4px;
  width: 98%;
  height: auto;
  background-color: #FFFFFF;
}

.navbar-item{
  width: 40%;
  height: auto;
}

.navbar-lg{
  width: 20%;
}

.menu-block{
  padding: 2% 2% 2% 2%;
  background-color: #FFFFFF;
}

.menu-topic{
  padding-bottom: 10px;
}

.menu-item{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
}

.menu-content{
  display: grid;
  grid-template-columns: 60% auto;
  grid-template-rows: auto;
  grid-gap: 10px;
}

.menu-list{
  display:grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
}

.menu-text{
  text-decoration: none !important;
  padding: 10px 10px 10px 10px;
  background-color: #EBEBEB;
  font-size: 100%;
  color:black;
}

.survey-block{
  padding: 5px 5px 5px 5px;
  background-color: #EBEBEB;
}

.emplo-block{
  display: grid;
  grid-template-columns: auto auto ;
  grid-template-rows: auto ;
  grid-gap: 20px;
  padding: 1% 2% 2% 2%;
  background-color: #FFFFFF;
}

.pf-box-with-dp-box{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 30% 40%;
  grid-gap: 10px;
}

.tof-btn{
  font-family: Segoe UI;
  border: none;
  flex: none;
  order: 0;
  flex-grow: 0;
  float: right;
  color: #FFFFFF;
  background: rgba(0, 120, 212, 1);
  width: 80%;
  border-radius: 2px;
  padding: 6px 20px;
}

.tof-btn:hover{
  padding: 7px 21px;
}

.pf-box{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 20px 20px 20px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pf-pic{
  display: grid;
  grid-template-columns: auto auto ;
  grid-template-rows: auto ;
  padding: 20px 20px 20px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dp-box{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 20px 20px 20px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.chief-data-box{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 20px 20px 20px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 10%;
}

.em-box{

}

.em-name{

}

.em-bx-name{
  padding: 6px 8px;
  background: #ECECEC;
  border: 1px solid #8A8886;
  box-sizing: border-box;
  border-radius: 2px;
}

.tof-block{
  display: grid;
  grid-template-columns: auto auto ;
  grid-template-rows: auto ;
  grid-gap: 20px;
  padding: 1% 2% 2% 2%;
  background-color: #FFFFFF;
}

.tof-dat{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  padding: 20px 20px 20px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.label-imginput:hover{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.tof-bx-name >input{
  width: 100%;
  height: 100% !important;
  padding: 6px 8px;
  border: 1px solid #8A8886;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 14px;
  color: #201F1E;
}

.attend-block{
  display: grid;
  background-color: #FFFFFF;
  padding: 10px 30px 10px 30px;
}

.attend-topic{
  padding-bottom: 10px;
}

.attend-menu{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.attend-ls-topic{

}

.attend-items{

}

@media (max-width: 1200px) {

  .navbar-item{
    width: 70%;
  }

}


@media (max-width: 600px) {

  .fp-border {
    flex-wrap: nowrap;
  }

  .f-logo{
    width: 70%;
  }

  .fp-menuitem{
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 50% 50%;
    grid-template-columns: 80%;
    justify-content: center;
    grid-gap: 50px;
    font-size: 100%;
  }

  .fp-timeattendance {
    padding: 10% 20% 10% 20%;
    width: 60%;
    height: 85%;
  }

  .fp-timeattend-out{
    padding-bottom: 15%;
    font-size: 80%;
    grid-template-rows: 100% 100% 100% ;
    grid-template-columns: 100%;
    grid-gap: 20%;
    width: 50%;
    height: 7%;
  }

  .fp-Login{
    padding: 10% 20% 10% 20%;
    width: 60%;
    height: 85%;
  }

  .time{
    font-size: 80%;
    margin-right: 1%;
  }

  .login-block{
    padding: 10% 10% 10% 10%;
    width: 50%;
  }

  .loginitem{
    display: grid;
    grid-template-rows: 40%;
    grid-gap: 20%;
    margin: 2% 0% 2% 0%;
  }

  .lg-logo-line{
    grid-template-columns: 30% 30%;
    grid-gap: 40%;
  }

  .lg-logo{
    margin: 0 0 0 0%;
    width: 100%;
  }

  .submit-btn{
    margin: 10% 0px 0px 60%;
  }

  .tad-block{
    grid-template-columns: 250px;
    grid-template-rows: 250px 250px;
  }

  .tad-item{
    width: 195px;
    height: 192px;
  }

  .navbar-block{
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .navbar-item{
    width: 100%;
  }
  
  .menu-content{
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  .menu-item{
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.titleHeaderBold {
  font-weight: bold;
  font-size: 45px;
  margin: 50px 0 0;
}

.titleHeader {
  font-size: 45px;
  font-weight: normal;
  margin: 0 0 20px;
}